# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Environment
.env

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Data files
*.csv
*.xlsx
*.jsonl

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

app/graph/graph.png
debug.py
test_neo.py
test_ollama.py
test_postgre.py